<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<string>YOUR_JENKINS_URL_HERE</string>
	<key>Username</key>
	<string>YOUR JENKINS USERNAME HERE</string>
	<key>API-Key</key>
	<string>YOUR JENKINS API-KEY HERE</string>
	<key>Port</key>
	<integer>443</integer>
</dict>
</plist>
