<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App ID Prefix</key>
	<string>S722Z9XR48</string>
	<key>Shared Keychain Identifier</key>
	<string>com.mobilabsolutions.jenkins.client.sharedKeychain</string>
	<key>App Store ID</key>
	<string>12345</string>
</dict>
</plist>
